main{
    width: 901px;
    margin: auto;
}

header, footer{
    width: 900px;
    margin: auto;
    /* border: thin solid black; */
    margin-bottom: 30px;

}
#iconTitle, #titleDelicious, #iconCluster, #clusterLeft, #clusterRight,#articleTitle, #printSpot, #printSpot>p,#authorPic,#authorText,#authorSpot>p{
    display: inline-block;
}

#titleDelicious>p, #titleDelicious>h2{
    margin: 0;
}

#iconCluster{
    vertical-align: bottom;
    margin-left: 395px;
}

#clusterRight{
    margin-left: 7px;
}

#iconTitle,#iconCluster{
    margin-bottom: 15px;
}

.grayBoarder{
    background-image:url("assets/hr-img.png"); 
    background-repeat:repeat;
    width: 900px;
    height: 15px;
}

.boxes{
    /* border: thin solid black; */
    margin: 30px 0;
}

#titleDelicious>p, #articleTitle>p, #printSpot>p,#authorSpot>p, footer p{
    font-size: .8em;
    font-family: sans-serif;
    color: gray;
}

#articleTitle>h1, #articleTitle>p, #printSpot>p{
    margin: 0;
}

#articleTitle>h1{
    font-size: 2em;
    font-family: cursive;
}

#printSpot{
    margin-left: 590px;
}

#bodyText{
    text-indent: 40px;
    font-size: 1.25em;
    color: rgb(72, 72, 72);
}

#recipeList{
    background-image: url(assets/list-bg.png);
    text-align: center;
}

ul{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    margin: 25px 15px;
}

li{
    text-align: left;
    margin: 5.5px 0;
}

#authorSpot>p{
    /* border: thin solid black; */
    text-align: center;
    color: white;
    padding: 15px 35px;
    margin-left: 15px;
    background-color: orangered;
}

#authorText p{
    font-size: 1em;
}

footer{
    text-align: center;
}
